.experience_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    @include mx-w991(){
        grid-template-columns: 1fr;
    }
    @include mx-w600{
        gap: 1rem;

    }
    &> div{
        background-color: $color-bg-variant;
        padding: 2.4rem 5rem ;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: $transition;
        @include mx-w991{
            width: 80%;
            padding: 2rem;
            margin: 0 auto;
        }
        @include mx-w600{
            width: 100%;
            padding: 2rem 1rem;
        }
        &:hover{
            background-color: transparent;
            border-color: $primary-variant;
            cursor: default;
        }
        h3{
            text-align: center;
            margin-bottom: 2rem;
            color: $primary;
        }
        .experience_content{
            display: grid;
            grid-template-columns: 1fr  1fr;
            gap: 2rem 1rem;
            @include mx-w991{
                padding: 1rem;
            }
            .experience_details{
                display: flex;
                gap: 1rem;
                .icons{
                    margin-top: 6px;
                    color: $primary;
                }
            }
        }
    }
}