
    $color-bg: #1f1f38;
    $color-bg-variant: #2c2c6c;
    $primary: #4db5ff;
    $primary-variant: rgba(77, 181 ,225, .4);
    $white: #fff;
    $light: rbga(255, 255, 255, .6);


    $transition: all 400ms ease;
    
    $container-width-md: 86%;
    $container-width-lg: 75%;
    $container-width-sm: 90%;
